@import url('https://fonts.googleapis.com/css2?family=Arvo&family=Playfair+Display:wght@700&display=swap');

:root {

    --blue-theme-colour: #023047;
    --mustard-theme-colour: #FFB703;


    /* https://coolors.co/b0a4b7-373dbb-d4bdc4-f34d6e-f2f1f2 */
    --bright-blue-background: #373DBB;
    --bright-pink: #F34D6E;
    --off-white: #F2F1F2;
    --dusky-pink: #D4BDC4;

}


#body-container {
    max-width: 1200px;
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 20px;
    height: 80vh;


    margin: 0 auto;
    text-align: left;

}

#greeting {
    width: 50%;
}

.lines {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    float: right;
}

h1 {
    font-family: "lato";
    font-weight: 300;
    color: var(--off-white);
    font-size: 1.6em;
}

#jimwynn {
    font-family: "playfair display";
    font-weight: 700;
    color: var(--off-white);
    font-size: 4em;
}



.playfair-font {
    font-family: "Playfair Display";

}

.lato-font {
    font-family: "lato"
}

@media (max-width:800px) {

    #greeting {
        width: 100%;
    }

    #body-container {
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        text-align: center;
    }

    .lines {
        float: none;
    }

    h1 {
        font-size: 18px;
    }
}