#footer {
    background-color: #3137a7;

    height: 40px;
    padding-top: 30px;
    padding-bottom: 30px;

}

.social-logos-footer {
    height: 25px;

    padding: 0px 15px 0px 15px;


}

.socials-footer {
    padding: 0px 15px 0px 15px;
}